.Project{
    background: url(../../Image//pexels-photo-509922.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.Project_Container{
    height: 600px;
    padding: 100px;
}

.project-img{
    width: 100%;
    height: auto;
    -webkit-animation-delay: .25s!important;
    animation-delay: .25s!important;
    -webkit-transition: all .65s;
    -o-transition: all .65s;
    transition: all .65s;
    box-shadow: 0 10px 80px 0 rgba(0,0,0,.15);
}
.dev-icons{
    padding-top: 40px;
    padding-bottom: 40px;
 justify-content: space-between;
 font-size: 30px;
}
.Pp1{  
    margin: 0;
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
    line-height: 40px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.Pp2{  
    margin: 0;
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
    line-height: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}
.dev-icons div i{
    padding: 5px;
}

.ViewCase{
    margin: 0;
    visibility: visible;
    animation-delay: 0.1s;
    border: none;
    animation-name: fadeInUp;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: left;
    border-bottom: 2px solid black;
  }
  .Explore:hover{
    opacity: 0.5;
  }
@media only screen and (max-width: 700px) {
    .row{
        padding: 0px 0px;
    }
   
  }