
.mainbox {
    padding-bottom:40px;
}

.img_animat1{
    animation: drop-2 5s forwards;
}
.header_tagline{
    position: relative;
    top: 100px;
    font-family:Lato;
	text-align:left;
	font-size:64px;
    font-weight: 501;
    line-height: 1.4;
}
.tagline{
    color: #FE4B57;
}
.header_intro{
    position: relative;
    padding-top:110px;
}
.lbtn{
    position: relative;
    top: 12px;
    left: 18px;
}
.intro{ 
	color:#0F1221;
	font-family:Lato;
	text-align:left;
    font-weight: 200;
	font-size:17px;
    line-height: 35px;
}

.layout2{
    padding: 30px;
    width: 100%;
    background-color: #E4F2FF;
}

.layout2_tagline{
    position: relative;
    top: 100px;
    font-weight: 600;
    font-family: "Lato",sans-serif;
    text-align: left;
    text-transform: uppercase;
	font-size:24px;
    line-height: 1.4;
    letter-spacing: 2px
}
.layout2_tagline2{
    color: #562AF0;
}
.layout2_header_intro{
   position: relative;
   padding-top : 110px;
   font-weight:normal;
   font-size:18px;
}
.layout2_intro{
    padding-bottom: 20px; 
    line-height: 35px;

}
.Box{
    padding-bottom: 150px;
}
.layout3_text{
    position: relative;
    padding-right: 20px;
}
.layout3_text_header{
    position: relative;
    top: 50px;
    color: #FE4B57;
    font-weight:bold;
    line-height: 1.4;
    letter-spacing: 2px;
    font-size:20px;
}
.layout3_tagline{
    position: relative;
    top: 80px;
    font-family: "Lato",sans-serif;
	text-align:left;
	font-size:56px;
    text-transform: uppercase;
    font-weight:bold;
    line-height: 1.4;
    letter-spacing: 2px;

}
.layout3_card{ 
    position:absolute;
	top:-50px;
}
.layout3_header_intro{
    color: #656B8E;
    position: relative;
    padding-top : 110px;
    padding-bottom : 20px;
    font-weight:normal;
    font-size:20px;
    padding-right: 90px;
}

.layout3_card1 { 
	box-shadow:81px 81px 134px rgba(5.000000176951289, 64.00000378489494, 46.000001057982445, 0.07999999821186066);
	background-color:#FFFFFF;
	width: 280px;
    height: 280px;
	position:absolute;
	left:0px;
	top:172px;
    padding: 20px;
}
.layout3_card2 { 
	box-shadow:81px 81px 134px rgba(5.000000176951289, 64.00000378489494, 46.000001057982445, 0.07999999821186066);
	background-color:#FFFFFF;
    width: 280px;
    height: 280px;
	position:absolute;
	left:330px;
	top:0px;
    padding: 20px;
}
.layout3_card3 { 
	box-shadow:81px 81px 134px rgba(5.000000176951289, 64.00000378489494, 46.000001057982445, 0.07999999821186066);
	background-color:#FFFFFF;
    width: 280px;
    height: 280px;
	position:absolute;
	left:330px;
	top:330px;
    padding: 20px;
}
.layout3_card_header{
    text-align:left;
	font-size:20px;
    font-weight:bold;
    line-height: 0.8;
    letter-spacing: 1.2px
}
.layout3_card_intro{
    font-weight:normal;
    font-size:18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #656B8E;
    padding-top: 5px;
}

.layout4{
    position: relative;
    padding: 30px;
    width: 100%;
    background-color: #F9F9FC;
}
@keyframes drop-2 {
    0% {
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
   
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
   
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
   
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
   
    
  }
