.scrollTop{
    font-size: 20px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    line-height: 30px;
    z-index: 9999;
    outline: 0;

}
.scrollTop:hover{
    opacity: 0.8;
}