.container_1{
    padding: 30px ;
}
.skill_1{
    padding: 30px;

   
}
.S1{  
    margin: 0;
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
    line-height: 25px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: black;
}
.Skill_list{
    padding: 5px 10px;
    padding-top: 10px;
}
.S2{  
    margin: 0;
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
    line-height: 24px;
    font-family: "poppins", sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    color: black;
}
